/* Nav Bar */

/* @media screen and (min-width: 961px) { */
.topnav {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid cornflowerblue; */
}

.topnav a {
  color: #1d1d1d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  max-height: 50vh;
  font-family: 'Lexend', sans-serif;
}


.topnav img {
  max-height: 50vh;
}

.topnav a:hover {
  text-decoration: underline;
  
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}




/* Title */
.center {
  margin-top: 15px;
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;

}


/* Items  flex the img1 and title1 children in a column */
.flexbox-container {
  display: inline;
  /* border: 3px solid red;
  background-color: yellow; */
  color: black;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.image-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;

  margin: 5vh;
  /* height: auto;
  width: 50%; */
  max-width: 100%;
  /* border: 3px solid blue; */
  /* background-color: lightcyan; */

}

.image-link a:hover {
  /* border: 3px solid red; */

}

.image-item {
  margin: 1vh;
  /* flex-wrap: wrap; */
  width: 400px;
  height: 400px;
  /* border: 3px solid blue;
  background-color: red; */
}

.image-container1 img {
  width: 100%;
  height: 100%;
}

.caption-text {
  margin-top: 5px;
  font-size: large;
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: 'Lexend', sans-serif;

}

.title-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 3px solid cornflowerblue; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: pink;
  background-color: tan;

  /* background-color: aqua; */
  height: 2vh;
  width: 40%;
  padding-left: 20%;
  padding-right: 20%;
  margin: auto;
}

menu-item {
  font-family: 'Lexend', sans-serif;

  /* ----Level 2 Pages Styling ----*/

}

h1 {
  font-family: 'Lexend', sans-serif;
}

#v60-title {
  font-family: 'Lexend', sans-serif;
  margin-left: 65px;
  /* border: 3px solid red; */
}

.content-container {
  display: flex;
  padding: 10px;
  border: 3px solid red;
}

.large-img {
  width: 400px;
  height: 400px;
  padding: 20px;
  margin-top: 20px;
  margin: 50px;
  /* border: 3px solid cornflowerblue;
  background-color: beige; */

}

.info-text {
  font-family: 'Lexend', sans-serif;
  border: 3px solid cornflowerblue;
  margin: 50px;
  font-weight: bold;

}

.child-info {
  margin-left: 10px;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;

}

.image-item {
  transition: all .4s ease-in-out;
}


.image-item:hover {
  transform: translateY(-7px);
  transition: .3s ease-in-out;
  /* transition: transform 250ms linear; */
  /* transition:cubic-bezier(0.19, 1, 0.22, 1) 1s linear; */
  /* transition: .3s linear; */

}



  /* tablet */
  @media screen and (min-width: 720px) {
    .flexbox-container{
      display: inline;

    }
    .image-container1 {
      
    
    }

    .image-item {
      width: 300px;
      height: 300px;
    }


    @media screen and (min-width: 415px) and (max-width: 719px) {
      .flexbox-container{
        display: inline;
  
      }
      .image-container1 {
        width: 150px;
        height: 150px;
      
      }
  
      .image-item {
        width: 100%;
        height: 100%;
      }


  /* Mobile IphoneXR */
@media screen and (max-width: 414px) {

  .image-container1 {
    width: 50%%;
    height: auto;
    display: flex;
        flex-flow: row wrap;

  }

  .image-item {
    margin-left: 50px;
    padding: 10px;
  
  }

  .caption-text {
    font-size: medium;
  }